*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url("../graphics/Twitch_WolfysGame_Background_2.png");
	background-size:auto;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgb(0, 0, 0);
	color: white;
}

a{
	color: white;
	border-radius: 5px;
}
a:visited{
	color: rgb(215, 215, 215);
}
nav a:hover{
	background-color: darkgrey;
}

li .dropdown-item{
	color: black;
}

dl{
	margin: 25px 5px;
}
dt{
	margin-left: 10px;
}
dd{
	margin-left: 30px;
}
dt + dd{
	margin-left: 20px;
}
dd + dd{
	font-style: italic;
}
dd + dt{
	margin-top: 50px;
}

table{
	border-style: solid;
	border-radius: 5px;
}
td{
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}

details{
	margin: 10px;
	padding: 5px;
}
details[open]{
	border: solid 1px #ffffff;
	border-radius: 10px;
}
details summary{
	font-size: 20px;
	font-weight: bold;
	line-height: 36px;
	color: #ffffff;
}

div.description p.titel{
	text-decoration: underline;
}

hr{
	border: none;
}
hr + div{
	margin-top: 50px;
}

#back_to_top{
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}
#back_to_top:hover{
	color: rgb(255, 71, 71);
}

.myProgress{
	margin-bottom: 10px;
}
.myProgressStart{
	float:left;
}
.myProgressEnd{
	float: right;
	text-align: right;
}
.actived{
	color:black;
	background-color: white;
}
.actived:hover{
	background-color: darkgrey;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
 }

 #myTab {
	color:#ffffff;
 }